:root {
    --color-main: #626262;
    --color-second: #7d7d7d;
    --color-third: #b4ad9e;
    --color-hover: #03a9f4;
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-main);
}

.container {
    width: 100%;
    min-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery-list-item-img {
    width: 100%;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: calc(100% - 2rem);
    }

    .gallery-list-item {
        flex: 1 1 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: calc(100% - 2rem);
    }

    .header-nav-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .header-nav-list-item {
        flex: 1 1 50%;
    }

    .gallery-list-item {
        flex: 1 1 40%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: calc(100% - 2rem);
    }

    .header-nav-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .header-nav-list-item {
        flex: 1 1 25%;
    }

    .gallery-list-item {
        flex: 1 1 30%;
    }
}

.header {
    padding-top: 71px;
    padding-bottom: 92px;
}

.header-nav-list-item-link {
    text-transform: uppercase;
    color: var(--color-second);
}

.header-nav-list-item-link:hover {
    color: var(--color-hover);
}

.gallery-list-item-link {
    font-family: var(--second-family);
    font-weight: 300;
    color: var(--color-third);
}

.gallery-list-item-title {
    font-weight: 400;
    font-size: 30px;
}

.gallery-button {
    padding: 20px 48px 21px 48px;
    background-color: inherit;
}