:root {
    --color-main: #626262;
    --color-second:  #7d7d7d;
    --color-third:   #b4ad9e;
    --color-hover: #03a9f4;
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-main);
    background-color: #beffff;
}

/*todo old */
/* .container {
    width: 905px;
    margin: 0 auto;
} */

.container {
    width: 100%;
    min-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    outline: 1px solid tomato;
}
/*! Медіа запити */
@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        outline: 1px solid green;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        outline: 1px solid blue;
    }
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        outline: 1px solid red;
    }
}

/*! header */
.header {
    padding-top: 71px;
    padding-bottom: 92px;
    background-color: #ffffe5;
}

.header-nav-list {
    /*? властивості */
}

.header-nav-list-item-link {
    text-transform: uppercase;
    color: var(--color-second);
}
.header-nav-list-item-link:hover {
    color: var(--color-hover);
}



/*! section gallery */
.gallery {
    background-color: #e5ffe5;
}

/** flex-colum-container */
.flex-colum-container {
    /*? властивості */
}

/* ! */
.gallery-title {
    display: none;
}

.gallery-list {
    /*? властивості */
}

.gallery-list-item {
    /*? властивості */
}

.gallery-list-item-img {
    /*? властивості */
}

.gallery-list-item-link {
    /*? властивості */
    font-family: var(--second-family);
    font-weight: 300;
    color: var(--color-third);
}

.gallery-list-item-title {
    /*? властивості */
    font-weight: 400;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery-button {
    /*? властивості */
    padding: 20px 48px 21px 48px;
    background-color: inherit;
}
